MYSQL_HOST=<ip address>
MYSQL_DATABASE=<db name>
MYSQL_USER=<user name access to global and db listed above>
MYSQL_PASSWORD=<pw>

NEXT_PUBLIC_WEBSOCKET_HOST=<full url and if necessary port of the websocket host, aka the ogn container>
NEXT_PUBLIC_SITEURL=<eg: sgp.onglide.com>

NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=<get from mapbox>
SERVER_ADMIN=<email address for webserver admin>

###### for scraping
#SOARINGSPOT_URL=
#SOARINGSPOT_OVERWRITE=1


###### for api key
#SOARINGSPOT_CLIENT_ID=
#SOARINGSPOT_SECRET=
#SOARINGSPOT_OVERWRITE=

######## optional settings
#NEXT_PUBLIC_HISTORY_HOST=<defaults to NEXT_PUBLIC_WEBSOCKET_HOST, but if you are putting cache in front of NEXT_PUBLIC_WEBSOCKET_HOST then this allows you to map it>
#NEXT_PUBLIC_COMPETITION_DELAY=0 <how many seconds to delay the tracking by, note there is a short delay to help with packet reordering built in>
